.limite .a {
	width: 20% !important;
	margin: 3% 3%;
	height: 15% !important;
	min-height: 200px !important;
	min-width: 350px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.limite h3 {
	height: 5%;
	margin: 10px 0;
}
.limitemenu {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.limitemenu h4 {
	font-weight: bold;
	height: 5%;
	margin: 0;
}
.menus {
	height: 100%;
	width: 100%;
}
.opcao {
	height: 100%;
	width: 100%;
	border: 1px black solid;
	border-radius: var(--border_rad);
	background-color: var(--color_bk);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.opcao p {
	font-weight: bold;
	margin: 15px 0 0 0;
}
.imgmenu {
	width: auto;
	height: 50px;
}

/*  ---- Responsividade -----  */

@media screen and (max-width: 1000px) {
	.limite .a {
		margin: 5% 6%;
		min-height: 300px !important;
	}
	.limite {
		margin-bottom: 10%;
	}
	.imgmenu {
		height: 100px;
	}
	.opcao p {
		font-size: 25px;
	}
	#perg {
		width: 80% !important;
		margin-bottom: 25% !important;
	}
	#quest {
		font-size: 40px !important;
	}
	#btnResponder, .btnperg a {
		font-size: 30px;
	}
	#limitePergunta {
		height: 100vh;
	}
}

/*   ---- Modais ----   */

#ModalRelAN .center_modal {
	text-align: left !important;
	align-items: center !important;
	justify-content: space-around !important;
}
#ModalRelAN h5 {
	margin: 0 !important;
}
.formRelAN {
	width: 60%;
	height: 90%;
	margin: 0 5% 5% 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.lnModal {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.lnModal input {
	margin: 15px;
}
#ModalFeedbackOp1 button {
	margin: 15px;
}
.pergTxt {
	border: solid 1px black;
	border-radius: 4px;
	background-color: white;
	font-family: var(--font);
	font-size: var(--font_size);
	height: 100px;
	width: 100%;
	margin: 0 2% 0 2%;
}



#perg {
	width: 40%;
	height: auto !important;
	margin: 3% 0;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
#pergunta {
	padding: 20px;
	display: flex;
	align-items: center !important;
	justify-content: center !important;
}
#pergunta a {
	font-weight: bold;
	color: black;
	text-decoration: none;
}
#pergunta a:hover {
	color: black;
	text-decoration: underline;
}
#btnResponder {
	min-width: 200px;
	max-height: 70px !important;
	font-weight: bold;
}
#quest {
	font-size: 25px;
	margin: 30px;
}
#resp {
	width: 80%;
	height: 100px;
}
.btnperg {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	margin-bottom: 50px;
	margin: 20px 0;
}
#resp, #btnResponder {
	border: 1px black solid;
	background-color: white;
	color: black;
	font-family: var(--font);
}

.animacao {
	animation: disable 1s forwards;
}

@keyframes disable{
	to {
		opacity: 0;
	}
}

@keyframes enable{
	to {
		opacity: 1;
	}
}