@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
	--color_bk: rgba(228,236,249,255);
	--color_1: rgba(201,209,223,255);
	--color_2: ;

	--font_size: 15px;
	--font: 'Roboto', sans-serif;

	--border_rad: 10px;
}

body, a, p, h1, h2, h3, h4, label {
	font-family: 'Roboto', sans-serif;
}
.borda {
	display: flex;
	border: 1px black solid;
	background-color: var(--color_1);
	border-radius: var(--border_rad);
	padding: 25px;
	box-shadow: 0 0 .5em black;
	width: 100%;
}

