@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
	--color_bk: rgba(228,236,249,255);
	--color_1: rgba(201,209,223,255);
	--color_2: ;

	--font_size: 15px;
	--font: 'Roboto', sans-serif;

	--border_rad: 10px;
}

body, a, p, h1, h2, h3, h4, label {
	font-family: 'Roboto', sans-serif;
	color: black;
}
body {
	margin: 0;
	padding: 0;
}
.borda {
	display: flex;
	border: 1px black solid;
	background-color: var(--color_1);
	border-radius: var(--border_rad);
	padding: 25px;
	box-shadow: 0 0 .5em black;
	width: 100%;
}

/*   ---- MODAL ----   */

.modal h5{
	margin: 10px;
	font-size: 30px;
}
.center_modal {
	background-color: var(--color_bk);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-family: var(--font);
	padding: 20px;
}
.btn_modal {
	border: 1px solid black;
	min-width: 100px;
	height: 33px;
	border-radius: 4px;
	background-color: var(--color_1);
}
.btn_modal a {
	text-decoration: none;
	color: black;
	text-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.btn_modal a:hover {
	color: black;
	cursor: pointer;
}
.input_modal {
	border: 1px solid black;
	width: 100%;
	margin: 10px;
	height: 33px;
	border-radius: 4px;
	text-align: center;
}
.center_modal p, .center_modal h5, .center_modal button {
	font-weight: bold;
}
.icon {
	margin: 30px auto;
	width: 70px;
	height: 70px;
	/*font-size: 70px;*/
	color: black;
}