@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
	--color_bk: rgba(228,236,249,255);
	--color_1: rgba(201,209,223,255);
	--color_2: ;

	--font_size: 15px;
	--font: 'Roboto', sans-serif;

	--border_rad: 10px;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: var(--font);
	
}
.body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	background: var(--color_bk);
}

a, p, h1, h2, h3, h4, label {
	font-family: 'Roboto', sans-serif;
}

/* ---- Tela de Login ---- */

.width {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	border: red 2px solid;
}

.logo {
	margin: 5% 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.logo img {
	margin: 0 auto;
	width: 120px;
	height: auto;
}

.login {
	/*margin: 0 40% !important;*/
} 

@media screen and (max-width: 600px) {
	.width {
		width: 80%;
	}
}

.width h3, .width h4 {
	font-weight: bold;
}

.titulo {
	text-align: center;
	width: 100%;
	height: 100%;
}

.borda {
	display: flex;
	border: 1px black solid;
	background-color: var(--color_1);
	border-radius: var(--border_rad);
	padding: 25px;
	box-shadow: 0 0 .5em black;
	width: 100%;
}

.container {
	border: 1px black solid;
	background-color: var(--color_bk);
	border-radius: var(--border_rad);
	display: flex;
	flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*width: 526px*/
}

.formLogin {
	width: 90%;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 0;
}

.formLogin input {
	flex: 0 1 100%;
}

.container input, .container option, .container select {
	display: flex;
	color:  black;
	font-weight: bold;
	margin: 0;
	border: solid black 1px;
	border-radius: 4px;
	height: auto;
}
.container p, .container a {
	font-weight: bold;
	text-decoration: none;
	color: black;
	margin: 0;
	font-size: var(--font_size);
}

#btnentrar {
	font-family: 'Roboto', sans-serif;
	font-size: calc(var(--font_size) + 5px);
	background-color: var(--color_1);
	justify-content: center;
}
#btnentrar:hover {
	cursor: pointer;
}


.links {
	width: 90% /*325px*/;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 25px;
}

.links a {
	margin-top: 3px;
}

.links a:hover {
	color: black;
	cursor: pointer;
	text-decoration: underline;
}

.logo_2 {
	margin: 5% 0 0 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.logo_2 img {
	margin: 0 auto;
	width: 80px;
	height: auto;
}

/*  ---- Tela de Cadastro ----  */

.cadastro {
	padding: 20% !important;
	height: 100vh;
}

.formCadastro {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
}

.formCadastro input {
	/*flex: 0 2 100%;*/
	width: 95%;
}

.col_1, .col_2 {
	width: 50%;
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.col_1 {
	border-right: solid 1px lightgray;
}

.col_3 {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#txtcpf {
	width: 60% !important;
}

#txtestado, #txttelefone{
	width: 45%;
}

.input {

}

#btnCadastrar {
	font-family: 'Roboto', sans-serif;
	font-size: calc(var(--font_size) + 5px);
	background-color: var(--color_1);
	justify-content: center;
	max-width: 200px;

}
#btnCadastrar:hover {
	cursor: pointer;
}